@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: $colorBGLight !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 12px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-slider {
	//max-width: 85%;
	//margin: 0 auto;
	position: relative;
	
	padding-left: 7rem;
	padding-right: 7rem;
	
	@include media-query($widescreen) {
  	padding-left: 0;
  	padding-right: 0;
	}
}

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    margin: 1rem;
    border: none !important;
    display: inline-block;
    height: auto;
    width: auto;
    cursor: pointer;
    color: $colorBGLight;
    padding: 0;
    font-size: 4rem;
    z-index: 100;
    /*border: none;
    outline: none;*/
    
    &:hover, &:focus {
	    color: $colorLinkHover;
    }
    &.slick-disabled {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
@include media-query($widescreen) {
  .slick-prev {
    left: -10rem;
  }
  .slick-next {
    right: -10rem;
  }
}

/*@include media-query($large-down) {
	.slick-prev, .slick-next {
		width: auto;
		height: auto;
		padding: 2rem 1rem;
		background: rgba($colorHeading, .75);
		z-index: 2;
		&:before {
			width: 15px;
			height: 15px;
		}
		&.slick-disabled {
      opacity: 0;
    }
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
}*/

/* Dots */

.slick-dots {
    //position: absolute;
    //bottom: -25px;
    display: block;
    margin: 0;
    //margin-top: 3rem;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    
    li {
        position: relative;
        display: inline-block;
        height: $slick-dot-size;
        width: $slick-dot-size;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0 !important;
            background: transparent;
            display: block;
            height: $slick-dot-size;
            width: $slick-dot-size;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            min-width: 0;            
            
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: $slick-dot-size;
                height: $slick-dot-size;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: $slick-dot-size;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
